<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center vh-100 text-center">
            <h1 class="display-1">Welcome to MyMovieDataBase</h1>
            <p class="lead">Please select action:</p>
            <div class="action-buttons">
                <a routerLink="/movies" class="btn btn-primary btn-lg me-3">See all Movies</a>
                <a routerLink="/add-movie" class="btn btn-primary btn-lg">Add new movie</a>
            </div>

        </div>
    </div>
</div>
