<div class="card">
	<div class="card-body">
		<h5 class="card-title mb-3">{{ movie?.name }}</h5>
		<h6 class="card-subtitle mb-3 text-warning">
			<span *ngFor="let category of movie?.category; last as isLast">
                {{ category }}
                <span *ngIf="!isLast">, </span>
            </span>
		</h6>
        <dl class="row">
            <dt class="col-sm-5">Release date:</dt>
            <dd class="col-sm-7">{{movie.release_date}}</dd>
            <dt class="col-sm-5">Box office:</dt>
            <dd class="col-sm-7">{{+movie.box_office | currency: 'USD':'symbol-narrow'}}</dd>
            <dt class="col-sm-5">User's rating:</dt>
            <dd class="col-sm-7"><strong>{{movie.rank | number: '1.0-1'}}</strong>/10 <small>({{movie.votes}} votes)</small></dd>
        </dl>
	</div>
    <div class="card-footer text-center">
        <h6>Your rating:</h6>
        <div *ngIf="!movie.your_rank; else showStars" class="d-grid">
            <button type="button" class="btn btn-primary btn-sm" (click)="openRatingModal()">Rate</button>
        </div>
    </div>
</div>
<ng-template #showStars>
    <div>
        <i *ngFor="let star of rankStars" class="{{star}} bi me-1 text-primary"></i>
        <strong>{{movie.your_rank}}</strong>/10
        <button type="button" class="btn btn-sm btn-link" (click)="resetRank(movie)" tooltip="Reset your vote" >
            <i class="bi bi-trash-fill text-danger cursor-pointer"></i>
        </button>
    </div>
</ng-template>
